<div align="center" ng-controller="HomeController">
    <form ng-controller="HomeController" ng-submit="getCitiesWeather()">
        <input type="text" class="city-input" ng-model="cityName">
        <input type="submit" class="btn btn-primary btn-sm city-input-submit-btn" value="View 5 Day Forecast">
    </form>
    <br/>
    <br/>

    <div class="row">
        <div class="col-sm-6">
            <h3 class="cityName">{{ cityName }}</h3>
            <h4 class="text-muted mb-0">{{ weatherDescription }}</h4>
        </div>
        <div class="col-sm-6">
            <h2 class="currentTemperature">{{ currTemp }}</h2>
            <img src="{{icon}}" alt="Weather Icon" class="img-fluid currentIcon">
        </div>
    </div>

    <table class="table table-borderless">
        <thead class="thead-dark">
            <tr>
                <th class="table-header-center">Monday</th>
                <th class="table-header-center">Tuesday</th>
                <th class="table-header-center">Wednesday</th>
                <th class="table-header-center">Thursday</th>
                <th class="table-header-center">Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">{{ mondaysWeather }}</td>
                <td align="center">{{ tuesdaysWeather }}</td>
                <td align="center">{{ wednesdaysWeather }}</td>
                <td align="center">{{ thursdaysWeather }}</td>
                <td align="center">{{ fridaysWeather }}</td>
            </tr>
            <tr>
                <td align="center">
                    <img src="{{mondaysWeatherIcon}}" alt="Weather Icon" class="img-fluid">
                </td>
                <td align="center">
                    <img src="{{tuesdaysWeatherIcon}}" alt="Weather Icon" class="img-fluid">
                </td>
                <td align="center">
                    <img src="{{wednesdaysWeatherIcon}}" alt="Weather Icon" class="img-fluid">
                </td>
                <td align="center">
                    <img src="{{thursdaysWeatherIcon}}" alt="Weather Icon" class="img-fluid">
                </td>
                <td align="center">
                    <img src="{{fridaysWeatherIcon}}" alt="Weather Icon" class="img-fluid">
                </td>
            </tr>
        </tbody>
    </table>
</div>