/* app css stylesheet */

@page {
  @top-center {
    content: element(pageHeader);
  }
}

#pageHeader {
  position: running(pageHeader);
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu>li {
  display: inline;
}

.menu>li+li:before {
  content: "|";
  padding-right: 0.3em;
}

.city-input {
  width: 84%;
  padding: 2px 2px 2px 6px;
  margin-bottom: 8px;
  border: 2px solid #989898;
  border-radius: 5px;
}

.city-input-submit-btn {
  margin-top: -4px;
}

.table-header-center { 
  text-align: center;
}

.jumbotron {
  background-color: #2B2D36 !important;
}

.appDescription {
  color: white;
  padding: 10px;
}